:root {
  --btn-color: #1a73e8;
  --search-color: #34a853;
  --border-color: #d4d4d4;
  --scroll-thumb: #b4b4b4;
  --scroll-track: #d5d8db;
  --heading-color: #e9e9e9;
  --toggle-color: #dddddd;
  --popup-background: rgba(0, 0, 0, 0.295);
  --box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  --linear-color: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  --profile-background: #7393b354;
  --coin-card: #9ba2aa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  /* background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%); */
}

.slider-container {
  width: 300vw;
  display: flex;
  transition: all 0.3s;
}

.container {
  width: 1140px;
  margin: auto;
}

.slider-item {
  width: 100vw;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-justifuy {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------- heading  --------------- */
.heading {
  width: 100%;
  height: 100px;
  font-size: 3vh;
  background-color: var(--heading-color);
  background-image: url("/img/bitcoin-pic.png");
  background-attachment: fixed;
  background-position-x: 220px;
  background-position-y: 20px;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  border-bottom: 1.5px solid #000;
}

.heading h1 {
  font-weight: 200;
  margin-left: 19.2px;
}
/* -------------- heading  --------------- */

/* --------------- navbar ----------------- */
.navbar {
  height: 50px;
  width: 60%;
}

.paging,
.search {
  width: 50%;
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;
}

.non-colored-btn {
  background-color: transparent;
  color: var(--btn-color);
  font-weight: 400;
  transition: 0.3s all;
  border: 1px solid var(--btn-color);
}

.non-colored-btn:hover {
  background-color: var(--btn-color);
  color: #fff;
  font-weight: 200;
}

.colored-btn {
  background-color: var(--btn-color);
  color: #fff;
  font-weight: 200;
}

.home,
.live,
.about,
.more-info {
  margin-right: 5px;
}

.home,
.about {
  width: 65px;
  height: 30px;
}

.more-info {
  width: 80px;
  height: 28px;
}

.live {
  width: 90px;
  height: 30px;
}

.search {
  justify-content: flex-end;
}

.search-bar,
.search-btn {
  margin-left: 15px;
  font-size: 11px;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.search-bar {
  width: 170px;
  height: 25px;
  outline-style: none;
}

.search-bar::placeholder {
  padding-left: 7px;
  border-color: var(--border-color);
}

.search-btn {
  height: 25px;
  width: 55px;
  color: var(--search-color);
  background-color: transparent;
  border: 1.5px solid var(--search-color);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 400;
}

.search-btn:hover {
  background-color: var(--search-color);
  color: #fff;
  font-weight: 200;
}
/* --------------- navbar ----------------- */

/* ---------------- grid ------------------ */

.grid {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  transition: all 0.3s;
}

.chart {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 3px;
  display: flex;
}

.chart span {
  margin: 0 auto;
  align-self: center;
}

.col {
  width: 33.33%;
  height: 120px;
  border: 1px solid var(--coin-card);
  border-radius: 3px;
  transition: all 0.3s;
  overflow-y: hidden;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.col.open {
  height: 160px;
}

.col-item {
  width: 87%;
  margin: auto;
  height: 32px;
}

.col-item:first-child {
  margin-top: 10px;
}

#info {
  height: 45px;
  visibility: hidden;
  box-shadow: var(--box-shadow);
  font-size: 11px;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  display: flex;
  justify-content: center;
  position: relative;
}

.col.open > #info {
  visibility: visible;
}

.info-item {
  width: 25%;
  height: 100%;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.info-item img {
  width: 30px;
  height: 30px;
}

.symbol {
  font-weight: 700;
  font-size: 16px;
}

.name {
  font-size: 11px;
}

.name span {
  margin-bottom: 7px;
}

.switch,
.symbol {
  width: 50%;
}

.switch {
  display: flex;
  justify-content: flex-end;
}

.toggle {
  margin-right: 5px;
  width: 47px;
  height: 23px;
  background-color: var(--toggle-color);
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.toggle.active {
  background-color: var(--btn-color);
}

.toggle.active > .circle {
  transform: translateX(131%);
}

.circle {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 3px;
  transition: all 0.3s;
}

/* ---------------- grid ------------------ */

/* --------------- pop-up ----------------- */

.back {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: var(--popup-background);
  z-index: 999;
  transform: scale(0);
  transition: all 0.3s;
}

.back.show {
  transform: scale(1);
}

.pop-up {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 3px;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

.col.pop {
  width: 100%;
}

.title,
.active-coins,
.buttons {
  width: 100%;
}

.title {
  height: 25%;
  box-shadow: var(--box-shadow);
  background: var(--linear-color);
  border-radius: 30px 30px 0px 0px;
}

.title img {
  width: 50px;
  height: 50px;
}

.active-coins {
  height: 60%;
  overflow-y: scroll;
}

.active-coins .col {
  width: 100%;
}

.buttons {
  height: 15%;
  background: var(--linear-color);
  border-radius: 0px 0px 30px 30px;
  box-shadow: 1px -2px 23px -2px rgba(0, 0, 0, 0.52);
}

.cancel,
.ok {
  width: 70px;
  height: 30px;
  margin: 0 8px;
}

/* --------------- pop-up ----------------- */

/* ----------- ABOUT ME SECTION ----------- */
.about-me {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}

.profile-card {
  width: 500px;
  height: 300px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  /* background-color: var(--profile-background); */
  background-color: var(--heading-color);
  /* background-color: #a1caf14f; */
  /* margin-top: 50px; */
}

.headline {
  width: 100%;
  height: 25%;
  border-radius: 30px 0px 30px 30px;
  background-color: #fff;
  display: flex;
}

.sub-head {
  height: 100%;
}

.details {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 600;
}

.tails {
  width: 180px;
  margin-left: 20px;
}

.image {
  width: 25%;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 50px;
  height: 50px;
}

.description {
  width: 100%;
  height: 75%;
  border-radius: 30px 30px 0px 0px;
}

.description div {
  font-size: 15px;
  width: 90%;
  margin-left: 20px;
}

.wrapper {
  display: inline-flex;
  align-self: flex-end;
  margin-bottom: 10px;
}
.wrapper .icon {
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span {
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i {
  line-height: 60px;
  font-size: 25px;
}
.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span {
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
  background: #3b5999;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
  background: #46c1f6;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
  background: #e1306c;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
  background: #333;
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before {
  background: #de463b;
}
/* ----------- ABOUT ME SECTION ----------- */

/* ------------- media queries ------------ */
@media screen and (max-width: 950px) {
  .container {
    width: 95%;
    margin: auto;
  }

  .grid {
    width: 95%;
  }

  .heading {
    height: 130px;
    background-position-x: 240px;
    background-position-y: 35px;
  }

  .heading h1 {
    font-size: 40px;
  }

  .search {
    justify-content: flex-start;
  }

  .search-bar {
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 100%;
    margin: auto;
  }

  .grid {
    width: 100%;
  }

  .heading {
    border-radius: 4px;
    background-position-x: 240px;
  }

  .heading h1 {
    margin-left: 11px;
  }

  .navbar {
    height: 80px;
  }

  .paging,
  .search {
    width: 100%;
  }

  .search {
    justify-content: flex-start;
  }

  .col {
    width: 100%;
  }

  .search-bar,
  .search-btn {
    margin: 0;
  }

  .col-item {
    width: 90%;
  }

  .about-me {
    height: 400px;
  }

  .profile-card {
    width: 358px;
    margin: 0;
  }

  .wrapper {
    width: 358px;
    margin: 0 0 25px 0;
    justify-content: space-around;
  }

  .wrapper .icon {
    margin: 0;
  }

  .wrapper .icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
  }

  .wrapper .icon span i {
    font-size: 20px;
  }
}
/* ------------- media queries ------------ */

/* ------------- SCROLL BAR --------------- */

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track,
#info::-webkit-scrollbar-track,
.active-coins::-webkit-scrollbar-track {
  background-color: var(--scroll-track);
}

body::-webkit-scrollbar-thumb,
#info::-webkit-scrollbar-thumb,
.active-coins::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
}

#info::-webkit-scrollbar,
.active-coins::-webkit-scrollbar {
  width: 5px;
}

/* ------------- SCROLL BAR --------------- */

/* ------------- LODING CIRCLE --------------- */

/* Absolute Center Spinner */
.loading {
  position: absolute;
  z-index: 998;
  height: 5em;
  width: 5em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  /* border: 1px solid #000; */
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: #1a73e8 1.5em 0 0 0, #1a73e8 1.1em 1.1em 0 0,
    #1a73e8 0 1.5em 0 0, #1a73e8 -1.1em 1.1em 0 0, #1a73e8 -1.5em 0 0 0,
    #1a73e8 -1.1em -1.1em 0 0, #1a73e8 0 -1.5em 0 0, #1a73e8 1.1em -1.1em 0 0;
  box-shadow: var(--btn-color) 1.5em 0 0 0, var(--btn-color) 1.1em 1.1em 0 0,
    var(--btn-color) 0 1.5em 0 0, var(--btn-color) -1.1em 1.1em 0 0,
    var(--btn-color) -1.5em 0 0 0, var(--btn-color) -1.1em -1.1em 0 0,
    var(--btn-color) 0 -1.5em 0 0, var(--btn-color) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ------------- LODING CIRCLE --------------- */
